/*div p{

    color:red;

}
ul li{
    background-color:pink;
}
.container,#heading{
    color:red;
}*/
div + p{
    color:orangered;
}
div ~ p{
    color:blue;
}
.btn:hover{
    background-color:orangered;
    color:white;
    cursor:pointer;
}
.btn{
    background-color:orange;
    border: 0;
    padding: 10px 20px;
    border-radius: 15px;
}
.link:active{
    color:black;
}
a:link{
    color:red;
}
a:visited{
    color:green;

}
a:hover{
    color:aqua;
}
p::first-line{
    color:black;
}
p::first-letter{
    color :orange;
}
p::before{
    content:"---text---";
}
p::after{
    content:"---text---";
}
body{
    font-family: 'Lato', sans-serif;
}
.form-control{
    width: 25%;
    height: 20pxpx;
    border:none;
    border:2px solid #ddd;
    border-radius:3px;
    background-color: white;

}
.form-control.focus,select.focus{
    outline:none;
    box-shadow:rgba(red, green, blue, alpha);

    
}
select{
    width: 20%;
    height: 27xpx
}
.title{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 6px;
}
.btn{
    width: 23%;
    height: 35px;
    margin: 0px 15px;
    background: rgb(33, 33, 121);
    border:none;
    color: white;
    border-radius: 3px;
}
.form-fields{
    margin-bottom:50px;
}
input[type="text"],input[type="email"],input[type="data"],input[type="month"]{
    font-family: 'Lato', sans-serif;
    padding:0px 15px;
    margin-bottom:13px;
    margin-right:15px;
}

    

    

