/*div p{

    color:red;

}
ul li{
    background-color:pink;
}
.container,#heading{
    color:red;
}*/
div + p{
    color:orangered;
}
div ~ p{
    color:blue;
}
.btn:hover{
    background-color:orangered;
    color:white;
    cursor:pointer;
}
.btn{
    background-color:orange;
    border: 0;
    padding: 10px 20px;
    border-radius: 15px;
}
.link:active{
    color:black;
}
a:link{
    color:red;
}
a:visited{
    color:green;

}
a:hover{
    color:aqua;
}
p::first-line{
    color:black;
}
p::first-letter{
    color :orange;
}
p::before{
    content:"---text---";
}
p::after{
    content:"---text---";
}
body{
    font-family: 'Lato', sans-serif;
}
.form-control{
    width: 25%;
    height: 10px;
    border:2px solid #ddd;
    border-radius:3px;
    border:none;
}
.form-control.focus{
    outline:none;
    border:none;
    
}
select{
    width: 20%;
    height: 32px
}
.title{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 6px;
}

    

    

}